<ion-view title="Tickets gala">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon ion-miss"></button>
    </ion-nav-buttons>
    <ion-content class="has-header ticket-info">
        <div class="ticket-box">
            <h4>VRIJDAG 19 SEPTEMBER 2014</h4>
            <h5>ETHIAS ARENA | VERSUZ</h5>
            <p>Gouverneur Verwilghensingel 70 | 3500 Hasselt</p>
        </div>
        <div class="ticket-box">
            <h4>INFO EN TICKETS</h4>
            <h5>misslimburg@tvl.be</h5>
            <p>+32 477 75 88 54</p>
        </div>
        <div>
            <div class="ticket-header show-ticket">
                <h2>Show</h2>
            </div>
            <table>
                <tr>
                    <td>19u30</td>
                    <td>Doors</td>
                </tr>
                <tr>
                    <td>20u30</td>
                    <td>Gala Miss Limburg & Vlaams-Brabant</td>
                </tr>
                <tr>
                    <td>Prijs</td>
                    <td>28 euro</td>
                </tr>
            </table>
        </div>
        <div>
            <div class="ticket-header combi-ticket">
                <h2>Combi ticket</h2>
            </div>
            <table>
                <tr>
                    <td>19u30</td>
                    <td>Doors</td>
                </tr>
                <tr>
                    <td>20u30</td>
                    <td>Gala</td>
                </tr>
                <tr>
                    <td>23u30</td>
                    <td>After party, Versuz</td>
                </tr>
                <tr>
                    <td>Prijs</td>
                    <td>40 euro</td>
                </tr>
            </table>
        </div>
        <div>
            <div class="ticket-header deluxe-ticket">
                <h2>Deluxe ticket</h2>
            </div>
            <table>
                <tr>
                    <td>19u30</td>
                    <td>Doors</td>
                </tr>
                <tr>
                    <td>20u30</td>
                    <td>Gala aan VIP tafel (drinks included)</td>
                </tr>
                <tr>
                    <td>23u30</td>
                    <td>After party (1st hour, drinks included)</td>
                </tr>
                <tr>
                    <td>Prijs</td>
                    <td>152 euro</td>
                </tr>
            </table>
        </div>
        <div>
            <div class="ticket-header exclusive-ticket">
                <h2>Exclusive ticket</h2>
            </div>
            <table>
                <tr>
                    <td>18u30</td>
                    <td>Walking dinner</td>
                </tr>
                <tr>
                    <td>20u30</td>
                    <td>Gala aan VIP tafel (drinks included)</td>
                </tr>
                <tr>
                    <td>23u30</td>
                    <td>After party (1st hour, drinks included)</td>
                </tr>
                <tr>
                    <td>Prijs</td>
                    <td>236 euro</td>
                </tr>
            </table>
        </div>
    </ion-content>
</ion-view>
