<ion-view title=Videos>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon ion-miss"></button>
    </ion-nav-buttons>
    <ion-content class="has-header search-background">
        <div class="list card" ng-repeat="video in videos">
            <div class="item general-videos miss-button deluxe-ticket" href="#/clips/detail/$index" ng-click="getVideo($index)"
                 ng-style="{ 'border-bottom': getBorder($index)}">
                {{video.name}}
            </div>
        </div>
    </ion-content>
</ion-view>
